
*{
    margin: 0;
    padding: 0;
}

input:focus{
    outline: none;
}
button:focus{
    outline: none;
}



body{
    height: 100vh;
   
    background-color:#011d38;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
} 

.container{

    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 5%;
    width: 90%;
    max-width: 400px;
    height: 500px;
    padding-left: 10px;
    box-shadow:0 0 8px rgb(7, 103, 103); 
}

h2{
    color: white;
    text-align: center;
    margin: 25px;
}
.input{

    display: flex;
    gap: 10px;
    border: none;
    color: #333;
    padding-right: 5px;
}
    
input::placeholder{
    color: #2e2d2d;
 
    font-style: italic;
   
}


#box{
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#add-btn{
    padding: 10px 15px;
    background-color: #2573c7;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

#task-box{
    display: block;
    overflow: auto;
    margin-top: 20px;

}

#tasklist{
    list-style: none;
    padding: 0;
    margin-top: 20px;
}


#tasklist li{
    background: linear-gradient(90deg, #01376a, #01376a);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content:space-between;
    color: white;
    border: #0aaeea;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}
.delete-btn{
    background-color: rgb(255, 0, 0);
    color: #ccc;
    border: none;
    border-radius: 5px;
    padding: 5px 8px;
    cursor: pointer;
    margin-left: 10px;

}

ul{
    list-style: none;
}




